<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="formValue" (ngSubmit)="display(formValue)">
  <input type="text" id="emailadd" #emailadd formControlName="emailadd">
  <div class="alert alert-danger" *ngIf="formValue.get('emailadd')?.touched && !formValue.get('emailadd')?.valid">
    <div *ngIf="formValue.get('emailadd')?.hasError('required')">First Name is required</div>
    <!-- <div *ngIf="emailadd.errors.minlength">Minimum length is {{emailadd.errors.minlength.requiredLength }}
      we got {{emailadd.errors.minlength.actualLength}}</div> -->
    <div *ngIf="formValue.get('emailadd')?.hasError('pattern')">Pattern Errors</div>
  </div>
  <input type="text" formControlName="password">
  <button type="submit">click</button>
</form>
