<div class="card container mt-4" style="width: 30rem;">
  <h1 class="text-center">Restaurent Login</h1>
  <div class="mb-4">
    <form #loginform="ngForm" (ngSubmit)="login(loginform.value)">
      <div>
        <label for="restemail" class="form-label">Email Address</label>
        <input type="email" #restemail="ngModel" 
                id="restemail" name="restemail" 
                class="form-control" required ngModel>
        <div class="alert alert-danger" *ngIf="restemail.touched && !restemail.valid">
            <div *ngIf="restemail.errors?.['required']">Email required</div>
        </div>    
      </div>
      <div>
        <label for="restpassword" class="form-label">Password</label>
        <input type="password" id="restpassword" name="restpassword" class="form-control" ngModel>
      </div>
      <div class="mt-2">
        <div class="row">
          <div class="col-4">
            <button class="btn btn-primary" [disabled]="!loginform.valid">Login</button>
          </div>
          <div class="col-8">
              <h3 class="form-text">New User? SignUP First
                <button [routerLink]="['/signup']"
                routerLinkActive="router-link-active" class="btn btn-success">SignUP</button>
              </h3>
                
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
