<!-- <app-test1 [name] = "title" (fullName) = "fname($event)"></app-test1> -->
<!-- <app-res></app-res> -->
<!-- <div class="mt-2">
    <nav>
        <a class="btn btn-dark" routerLink="/oldComponent" routerLinkActive="active">OLD Component</a>&nbsp;
        <a class="btn btn-dark" routerLink="/newComponent" routerLinkActive="active">NEW Component</a>
    </nav>
</div> -->
<router-outlet></router-outlet>

<!-- <app-test-form></app-test-form> -->

<!-- <restorrent-dashbord></restorrent-dashbord> -->