<div class="card container mt-4" style="width: 30rem;">
    <h1 class="text-center">Restaurent Registration</h1>
    <div class="mb-4">
        <form [formGroup]="formValue" (ngSubmit)="authenticate(formValue)">
          <label for="emailadd" class="form-label">Email</label>  
          <input type="text" id="emailadd" #emailadd class="form-control" formControlName="emailadd">
            <div class="alert alert-danger" *ngIf="formValue.get('emailadd')?.touched && !formValue.get('emailadd')?.valid">
              <div *ngIf="formValue.get('emailadd')?.hasError('required')">First Name is required</div>
             </div>
             <label for="pass" class="form-label">Password</label> 
            <input type="text" id="pass" class="form-control" formControlName="password">
            <div class="mt-2">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
            
          </form>
    </div>
  </div>

  <div class="alert alert-success d-flex align-items-center alert-dismissible fade show" role="alert" *ngIf="userData && userData.status === 'success'">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      Hi! {{ emailadd.value }} you Have Register Successfully...!
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  