<form #loginForm = "ngForm">
    <div>
        <label for="firstName">First Name</label>
        <input (change)= "log(firstName)" required minlength="4" pattern="[a-zA-Z]+$" ngModel name="firstName" #firstName = "ngModel" id="firstName" type="text" class="form-control">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors?.['required']">First Name is required</div>
            <div *ngIf="firstName.errors?.['minlength']">Minimum length is {{firstName.errors?.['minlength'].requiredLength }} we got {{firstName.errors?.['minlength'].actualLength}}</div>
            <div *ngIf="firstName.errors?.['pattern']">Pattern Errors</div>
        </div>
    </div>
</form>